@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate-app-logo-spin {
    animation: app-logo-spin infinite 20s linear;
  }
}
